---
layout: page
title: "About"
description: "Hey, this is Wxhao."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> resume </option>
    <option value="1"> self-evaluation </option>
    <option value="2"> Work </option>
    <option value="3"> Shcool </option>
</select>

<!-- Chinese Version -->
<div class="doc0 post-container">

    <!--copied from markdown -->
    <blockquote><p>世界那么大 <br>
    我想去看看 </p></blockquote>

    <p>Hey，我是<strong>吴显浩</strong>，程序猿 &amp; ，Java开发 <a href="http://www.whcsc.edu.cn/">武汉商学院</a> · 软件工程12级；· <a href="http://www.jl-soft.com/">前武汉金力</a>Java开发工程师；
    目前任职于<a href="http://www.jecansoft.cn/">深圳中移互联</a>担任JAVA中级工程师。</p>

    <p>一些作品和开源项目，👉 戳 <a href="/portfolio">Portfolio</a> 与 <a href="http://github.com/wxhao911">Github</a>。</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="http://lepar.leshiren.cn/form3/login.html">LePar生态销售管理平台</a></li>
    <li><a href="http://www.tubaku.cn">土八酷电商平台</a></li>
    </ul>

<!--
    <h5>Resumes</h5>
    <ul>
    <li><a href="/attach/2016_Wxhao_en_SE.pdf">2016_Wxhao_en_SE &amp; FE</a></li>
    <li><a href="attach/2016_Wxhao_en_PD.pdf">2016_Wxhao_en_PD &amp; UX</a></li>
    </ul>
-->

</div>

<!-- English Version -->
<div class="doc1 post-container">
    <blockquote><p>天真无邪 <br>
    纯真善良 </p></blockquote>


    <p>性格开朗，不适合死气沉沉的公司，学习接受新事物的速度挺快的，喜欢接受挑战，迎难而上，但不喜欢故意挖坑却让往里跳.</p>

    <p>之前在学校也担任过很多职务，执行力、沟通能力和创新思维还是不错滴，在公司与同事关系很融洽，勤学爱思考。</p>

    <p>涉猎广泛，兴趣爱好很多，所以也导致本人还有点儿小毛病就是遇到比较繁琐且单一的枯燥的活儿会木有耐心。</p>

    <p>最后，我是处女座。</p>

    <!--
    <p>My name is <strong>XianHao Wu(吴显浩)</strong>，you can call me nickname <strong>Wxhao</strong>. I studied Digital Media Art in <a href="https://en.wikipedia.org/wiki/Communication_University_of_China">Communication University of China</a>, which is a interdisciplinary subject of technology and art, and now Senior.</p>

    <p>As a engineer, I work at Wepiao (<a href="https://www.crunchbase.com/organization/wepiao#/entity">in CrunchBase</a>) as the dev lead of Front-End Infrastructure Team currently, and <a href="https://www.alitrip.com/">Alibaba Trip</a> as Intern for one year previously.</p>

    <p>As a designer, I am ever offered as UI/UX Designer Intern by Alibaba, Microsoft etc. I am experienced in Motion Graphic Design, and familer with typography and layout.</p>

    <p>Some of my projects is put on my <a href="/portfolio">Portfolio 👉</a> and <a href="http://github.com/huxpro">Github 👉</a>. I am also translator of <a href="http://www.gfansub.com/">GDG China</a>, maintainer of <a href="http://zhuanlan.zhihu.com/FrontendMagazine">Frontend Magazine</a> and owner of <a href="http://zhuanlan.zhihu.com/huxblog">Lifelong Romantic Geek</a></p>

    <h5>Talks</h5>

    <ul>
    <li><a href="http://huangxuan.me/2015/12/28/css-sucks-2015/">CSS Still Sucks 2015 · 2015</a></li>
    <li><a href="http://huangxuan.me/2015/07/09/js-module-7day/">JavaScript Modularization Journey · 2015</a></li>
    </ul>


    <h5>Resumes</h5>

    <ul>
    <li><a href="/attach/2016_Hux_en_SE.pdf">2016_Hux_en_SE &amp; FE</a></li>
    <li><a href="attach/2016_Hux_en_PD.pdf">2016_Hux_en_PD &amp; UX</a></li>
    </ul>
    -->

</div>

<div class="doc2 post-container">
    <blockquote><p>My Work <br>
    EXP </p></blockquote>

    10月11月熟悉公司业务，框架，并进行简单的代码编写，12月1月进行公司内部框架的工具类优化和改版（优化程序，减少代码量）
    ，345月编写页面js小插件并封装成js工具包，并开始进行锦辉项目(办公oa)的编写，主要进行页面js控制，填充数据，
    和后台数据接口的编写，678月在出差至北京进行乐视销售oa(lepar销售平台)项目的开发，主要进行页面绘制与调整,js控制与封装,
    后台数据处理以及持久层数据交互的开发工作。9月至今，进行寿康永乐（电子商务(由其他公司外包)的供应链后台），主要进行数据接口调用与调试，
    与本公司、其他公司数据交互，返回填充页面。

</div>

<div class="doc3 post-container">
    <blockquote><p>In <br>
    Shcool </p></blockquote>
    <ul>
      <li> 曾获 院校级 三等奖 奖学金</li>
      <li>曾获 院校级 二等奖 奖学金</li>
      <li>武汉商学院校团总支：  优秀成员</li>
      <li>信息工程系团总支：  副书记</li>
      <li>青年志愿者协会：  优秀干事</li>
      <li>信息电子协会：  优秀成员</li>
      <li>PS社团：  优秀干事</li>
      <li>无中声有(配音社)：  创始人之一</li>
      <li>网球社：  学员</li>
      <li>中国特色社会主义研习会：  优秀干事</li>
      <li>班级担任职务：  团支书</li>
      <li>2015/06 蓝桥杯全国软件和信息技术专业人才JAVA组  二等奖 国家级</li>
      <li>竞赛有初赛，省赛，全国赛，主要进行Java逻辑和算法的比试，可百度</li>
    </ul>
    校级技能竞赛获奖：
    <ul>
      <li>多媒体技能大赛打字比赛  优秀奖  2012.12</li>
      <li>多媒体技能大赛设计比赛（PS）  最佳创意奖  2012.12</li>
      <li>第五届技能节比赛  优秀奖  2012.6</li>
    </ul>
    学生社团获奖：
    <ul>
      <li>武汉商学院  优秀团干  2013.5</li>
      <li>武汉商学院  院系优秀学生  2013.11</li>
      <li>PS协会  优秀学员  2012.12</li>
      <li>特研会  优秀干事  2012.12</li>
    </ul>

    校外拓展获奖：
    <ul>
      <li>武汉商学院院团委  2013素质拓展营毕业证书  2013.10</li>
      <li>2013亚洲沙滩排球锦标赛  志愿者服务证书  2013.11</li>
    </ul>

    证书:
    <ul>
      <li>全国软件开发(JAVA)专业人才考试  高级证书</li>
    </ul>

    写这些是想说明哈我是一个兴趣广泛的娃砸

</div>

<script type="text/javascript" src="/js/jquery.js"></script>
<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $doc0 = $(".doc0");
    var $doc1 = $(".doc1");
    var $doc2 = $(".doc2");
    var $doc3 = $(".doc3");
    var $select = $("select");
    var $allDoc = (".post-container");
    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        $allDoc.css("display","none");

        switch (_hash) {
          case "0":
          // ...
          $doc0.css("display","block");
          break;
        case "1":
          // ...
          $doc1.css("display","block");
          break;
        case "2":
          // ...
          $doc2.css("display","block");
          break;
        case "3":
          // ...
          $doc3.css("display","block");
          break;
        default:
          // ...
          $doc1.css("display","block");
        }

    }

    // handle select change
    function onLanChange(index){
        window.location.hash=index;
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Wxhao
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
