body {
	overflow-x: hidden;
	background-color: rgba(187,68,196,0.67);
}

.my_yer {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	border: none;
	font: normal 72px/normal "Passero One", Helvetica, sans-serif;
	color: rgba(255,255,255,1);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.my_yer:hover {
	color: rgba(51,224,210,0.58);
	text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

#myzzilcc p {
	margin-left: 50px;
	margin-right: 50px;
	text-indent: 2em;
	line-height: 30px;
}

.fa {
	display: inline!important;
}

.draft {
	/* margin-top: 1%; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 98.7%;
	/* height: 208px; */
	content: "";
	padding: 60px 0 0;
	border-top: 0 solid;
	border-right: 0 solid;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-left: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 0 10px 200px / 0 200px 14px 250px;
	border-radius: 0 10px 200px / 0 200px 14px 250px;
	font: normal 34px/1.3 "Gochi Hand", Helvetica, sans-serif;
	color: rgba(255,0,106,0.58);
	/* text-align: center; */
	-o-text-overflow: clip;
	text-overflow: clip;
	/* white-space: pre; */
	opacity: 0.7;
	background: -webkit-repeating-linear-gradient(-90deg, rgba(129,203,188,0.5) 0, rgba(129,203,188,0.5) 0.44%, rgba(0,0,0,0) 0.44%, rgba(0,0,0,0) 22%), #fcf59b;
	background: -moz-repeating-linear-gradient(180deg, rgba(129,203,188,0.5) 0, rgba(129,203,188,0.5) 0.44%, rgba(0,0,0,0) 0.44%, rgba(0,0,0,0) 22%), #fcf59b;
	background: repeating-linear-gradient(180deg, rgba(129,203,188,0.5) 0, rgba(129,203,188,0.5) 0.44%, rgba(0,0,0,0) 0.44%, rgba(0,0,0,0) 22%), #fcf59b;
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	-webkit-box-shadow: -3px 5px 12px 0 rgba(0,0,0,0.1) ;
	box-shadow: -3px 5px 12px 0 rgba(0,0,0,0.1) ;
	-webkit-transform: rotateZ(-2deg)   ;
	transform: rotateZ(-2deg)   ;
}

.pin {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 30px;
	height: 30px;
	position: absolute;
	content: "";
	top: 9px;
	left: 122px;
	border: none;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	font: normal medium/normal Arial, Helvetica, sans-serif;
	color: rgba(0,0,0,0.9);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: -webkit-radial-gradient(circle closest-side, rgba(25,119,196,1) 0, rgba(25,119,196,1) 4%, rgba(12,113,201,1) 77%, rgba(255,255,255,0) 89%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(circle closest-side, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.2) 81%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(64,150,238,1) 100%), rgba(255,255,255,0.9);
	background: -moz-radial-gradient(circle closest-side, rgba(25,119,196,1) 0, rgba(25,119,196,1) 4%, rgba(12,113,201,1) 77%, rgba(255,255,255,0) 89%, rgba(255,255,255,0) 100%), -moz-radial-gradient(circle closest-side, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.2) 81%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%), -moz-radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(64,150,238,1) 100%), rgba(255,255,255,0.9);
	background: radial-gradient(circle closest-side, rgba(25,119,196,1) 0, rgba(25,119,196,1) 4%, rgba(12,113,201,1) 77%, rgba(255,255,255,0) 89%, rgba(255,255,255,0) 100%), radial-gradient(circle closest-side, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.2) 81%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%), radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(64,150,238,1) 100%), rgba(255,255,255,0.9);
	background-repeat: no-repeat;
	background-position: 96% -4%, 71% 43%, 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: 20px 20px, 20px 20px, auto auto;
	background-size: 20px 20px, 20px 20px, auto auto;
	-webkit-box-shadow: -4px 8px 5px 1px rgba(0,0,0,0.2) ;
	box-shadow: -4px 8px 5px 1px rgba(0,0,0,0.2) ;
	text-shadow: none;
}

.pin2 {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 30px;
	height: 30px;
	position: absolute;
	content: "";
	top: 9px;
	right: 122px;
	border: none;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	font: normal medium/normal Arial, Helvetica, sans-serif;
	color: rgba(0,0,0,0.9);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: -webkit-radial-gradient(circle closest-side, rgba(25,119,196,1) 0, rgba(25,119,196,1) 4%, rgba(12,113,201,1) 77%, rgba(255,255,255,0) 89%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(circle closest-side, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.2) 81%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%), -webkit-radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(64,150,238,1) 100%), rgba(255,255,255,0.9);
	background: -moz-radial-gradient(circle closest-side, rgba(25,119,196,1) 0, rgba(25,119,196,1) 4%, rgba(12,113,201,1) 77%, rgba(255,255,255,0) 89%, rgba(255,255,255,0) 100%), -moz-radial-gradient(circle closest-side, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.2) 81%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%), -moz-radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(64,150,238,1) 100%), rgba(255,255,255,0.9);
	background: radial-gradient(circle closest-side, rgba(25,119,196,1) 0, rgba(25,119,196,1) 4%, rgba(12,113,201,1) 77%, rgba(255,255,255,0) 89%, rgba(255,255,255,0) 100%), radial-gradient(circle closest-side, rgba(0,0,0,0.4) 0, rgba(0,0,0,0.2) 81%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%), radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(64,150,238,1) 100%), rgba(255,255,255,0.9);
	background-repeat: no-repeat;
	background-position: 96% -4%, 71% 43%, 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: 20px 20px, 20px 20px, auto auto;
	background-size: 20px 20px, 20px 20px, auto auto;
	-webkit-box-shadow: -4px 8px 5px 1px rgba(0,0,0,0.2) ;
	box-shadow: -4px 8px 5px 1px rgba(0,0,0,0.2) ;
	text-shadow: none;
}

.myheart {
	-webkit-animation: pulse 1s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: pulse 1s;
	-moz-animation-iteration-count: infinite;
	animation: pulse 1s;
	animation-iteration-count: infinite;
	color: red;
}

.you {
	animation: flash 10s;
	animation-iteration-count: infinite;
	-webkit-animation: flash 10s;
	-webkit-animation-iteration-count: infinite;
}

#sakura {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1000px;
	position: absolute;
	z-index: -1;
}

.button {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	/* width: 250px; */
	/* height: 70px; */
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 2px solid rgb(30,205,151);
	-webkit-border-radius: 40px;
	border-radius: 40px;
	font: normal 34px/1.3 "Gochi Hand", Helvetica, sans-serif;
	color: rgb(30, 205, 151);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 1px;
	background: rgba(0,0,0,0);
	-webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
	-moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
	-o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
	transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.button:hover {
	color: rgba(255,255,255,1);
	background: rgb(30, 205, 151);
}

.button:active {
	border: 2px solid rgba(33,224,163,1);
	background: rgba(33,224,163,1);
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.clock {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 25px;
	border: none;
	font: normal 100px/1 "Fredoka One", Helvetica, sans-serif;
	color: rgba(255,255,255,1);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: 3px 3px 0 #0199d9 , 4px 4px 0 #0199d9 , 5px 5px 0 #0199d9 , 6px 6px 0 #0199d9 , 7px 7px 0 #0199d9 , 8px 8px 0 #0199d9 , 9px 9px 0 #0199d9 , 10px 10px 0 #0199d9;
}

.greetings {
	font-size: 60px;
}

.inputbox {
	width: 40%;
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 20px;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal medium/normal Arial, Helvetica, sans-serif;
	color: rgba(0,142,198,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: inherit;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.inputbox:hover {
	border: 1px solid #a3a3a3;
	background: inherit;
	-webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

.input:focus {
	border: 1px solid #018dc4;
	-webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.search_engine {
	/* padding:3px; */
	margin: 0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	-moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	background: inherit;
	color:#888;
	border:none;
	outline:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

.login {
	text-align: center;
}

.userinfo {
	display: block;
}

.user {
	margin-left: 5%;
	display: inline;
}

.write_button {
	float: right;
	margin-right: 5%;
}

.avatar{
	width: 32px;
	height: 32px;
	border-radius: 32px;
}

.posts_list {
	margin-left: 5%;
	margin-right: 5%;
}
.read {
	margin-left: 5%;
	margin-right: 5%;
}

.post_header {
}

.post {
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 15px 50px;
	border: 2px solid #73AD21;
	padding: 20px;
	margin: 5px;
}

.post_date {
	float: right;
}

.post_content {
	text-indent: 2em;
	font-size: 23px;
	color: #126BD9;
}

.center {
	text-align:center;
}

video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(http://7xqytu.com1.z0.glb.clouddn.com/sakura.png) no-repeat;
	background-size: cover;
}

@media screen and (min-width:1200px){
	.wxhao {
		margin-right: 18%
	}
}
